.reservation {
  background-color: #d9e7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("../images/background_reservation.svg");
  /*padding: 100px 0;*/
}
.reservation__title {
  max-width: 385px;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__terms {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
