.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  box-sizing: border-box;
} /*revisado y todo bien*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding-bottom: 20px; pendiente*/
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
} /*revisado*/

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-right: 80px;
  padding-top: 30px;
  z-index: 3; /*pendiente el z-index*/
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
} /*revisado*/

.header__title {
  position: absolute;
  top: 183px;
  left: 80px;
  max-width: 709px;
  /*margin-bottom: -10px;
  max-width: 709px;
  margin-top: 183px;*/
}

.header__span-accent {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  color: #000000;
  display: inline-block;
  margin-top: 28px; /* revisado*/
}

.header__description {
  position: absolute;
  left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  top: 351px; /*está bien si es de la posición relativa?*/
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: 2;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.header__schedule {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #838383;
  margin-left: 80px;
}

.header__address {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #838383;
  font-weight: 500;
  margin-right: 80px;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2850;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  color: #ffffff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 80px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a2850;
  border-radius: 8px;
  margin-bottom: 215px;
  padding: 10px;
  width: 480px;
  height: 273px;
}

.recipes__iframe {
  /* width: 480px;
  height: 273px;*/
  border-radius: 8px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}
/*REGLAS CSS PARA RESERVACION-REVISAR*/
.reservation-container {
  background-color: #f7f9ff;
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.reservation-form label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: #555;
}

.reservation-form input[type="text"],
.reservation-form input[type="number"],
.reservation-form input[type="datetime-local"],
.reservation-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reservation-form input:focus {
  border-color: #4a90e2;
  outline: none;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.terms input {
  margin-right: 10px;
}

.reservation-form button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.reservation-form button:hover {
  background-color: #357ab8;
}
